{% extends 'layouts/base.html' %}

{% block title %} Discount Page {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex flex-row justify-content-between">
              <h6>Discounts table</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#discountModal">
                  Add discount code
                </button>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Percentage</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for discount in discounts %}
                    <tr>
                      <td class="ps-4">{{ discount.id }}</td>
                      <td>{{ discount.name }}</td>
                      <td class="align-middle text-center">{{ discount.percentage }}%</td>
                      <td id="{{discount.id}}" class="align-middle text-center"> 
                          <p role="button" class="text-secondary font-weight-bold text-xs" data-bs-toggle="modal"
                          data-bs-target="#confirmDeleteModal" onclick="handleDeleteButton(event)">
                          Delete
                          </p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}
    {% include "includes/discountModal.html" %}
    {% with type="discount" %}
    {% include "includes/confirmDeleteModal.html" %}
    {% endwith %}

    </div>
{% endblock content %}
{% block javascripts %}
<script>
  handleDeleteButton = (e) => {
    const modal = document.querySelector("#confirmDeleteModal")
    const id = modal.querySelector("#discountId")
    id.innerText = e.target.parentNode.id
    const form = document.querySelector("#confirmDeleteForm")
    form.id = e.target.parentNode.id
  }
</script>
{% endblock javascripts %}
