{% extends 'layouts/checkout_base.html' %}

{% block title %} Browse {% endblock title %}


{% block content %}
<div class="product-grid">
        {% for product in products %}
        <div class="product-card" id="{{product.id}}">
                <img class="product-image" src="{{ product.image }}" alt="{{ product.name }}">
                <div class="product-name">{{ product.name }}</div>
                <div class="product-description">{{ product.description }}</div>
                <div class="product-price">${{ product.price }} <span>(${{ product.tax }} tax)</span></div>
                <button type="button" class="btn btn-primary" onclick="addToCart({{product}})">
                        Add to cart
                </button>
        </div>
        {% endfor %}
</div>
<div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="liveToast" class="toast bg-primary" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
    <div class="toast-body text-light">
            Added to your cart
    </div>
  </div>
</div>
{% include "includes/checkoutModal.html" %}
{% endblock content %}


{% block cartButton %}
  <button class="btn btn-secondary position-relative" id="cartButton" data-toggle="modal" data-target="#sidebarMenu" onclick="openCart()">
    <span class="badge badge-primary position-absolute" style="top:20px;left:29px" id="itemsCount"></span>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag"
      viewBox="0 0 16 16">
      <path
        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
    </svg>
  </button>

{% endblock cartButton %}


{% block cart %}
<div class="position-absolute container-fluid" style="z-index:99" id="cart" hidden>
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-7"></div>
    <div class="col-lg-3 col-md-4 col-sm-5">
      <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between align-items-center">

          <h5 class="card-title">Your Cart</h5>
          <button class="btn" onclick="closeCart()">X</button>
            </div>
          <hr>
          <div id="productsList">

          </div>
          <hr>
          <div class="d-flex flex-row justify-content-center gap-1">
            <input type="text" class="form-control" id="discount" placeholder="Enter discount code" style="height:48px"/>
            <button class="btn btn-primary" onclick="applyDiscount()" style="height:45px" id="discountButton">Apply</button>
          </div>
          <p id="discountMessage" hidden>Discount applied</p>
          <hr>
          <div class="product">
            <p>Total</p>
            <p id="totalPrice"></p>
          </div>
          <hr>
          <button type="button" class="btn btn-primary btn-block" onclick="checkout()" data-bs-toggle="modal" data-bs-target="#checkoutModal">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock cart %}
{% block javascripts %}
<script>
    const toastElement = document.getElementById('liveToast')
    const toast = new bootstrap.Toast(toastElement)
    const cartElement = document.querySelector("#cart")
    const productsList = document.querySelector("#productsList")
    let discounts = localStorage.getItem("discounts")
    if(discounts) discounts = JSON.parse(discounts)
    let cart = localStorage.getItem("cart")
    if(!cart) cart = {}
    else cart = JSON.parse(cart)
    const addToCart = (product)=>{
            //trigger bootstrap toast
            toast.show()
            let price = product.price+product.tax
            let quantity = 1
            if(product.id in cart){
                    cart[product.id].qty += 1
            }
            else{
                cart[product.id] = product
                cart[product.id].qty = 1
            }
            localStorage.setItem("cart", JSON.stringify(cart))
            updateCartUI()
    }
    const removeFromCart = (id)=>{
        const productElement = document.getElementById(`cart-item-${id}`)
        productElement.remove()
        delete cart[id]
        localStorage.setItem('cart',JSON.stringify(cart))
        updateCartUI()
    }
    const closeCart = ()=>{
        cartElement.hidden = true     
    }
    const openCart = ()=>{
        cartElement.hidden = false
    }
    const updateCartUI = ()=>{
        const itemsCountElement = document.getElementById("itemsCount")
        const productsListElement = document.getElementById("productsList")
        for(id in cart){
                const product = cart[id]
                const productElement = document.getElementById(`cart-item-${product.id}`)
                if(!productElement){
                        // add new item
                        const newProduct = document.createElement("div")
                        newProduct.id = `cart-item-${product.id}` 
                        newProduct.className = 'd-flex flex-row justify-content-between'
                        newProduct.innerHTML = `<p>${product.name}</p><p>$${product.price}</p><p>Qte: ${product.qty} <span role="button" onclick="removeFromCart(${product.id})">&times;</span></p>`
                        productsListElement.appendChild(newProduct)
                }
                else{
                        // update item
                        productElement.removeChild(productElement.lastChild)
                        productElement.insertAdjacentHTML("beforeend", `<p>Qte: ${product.qty}<span role="button" onclick="removeFromCart(${product.id})">&times;</span></p>`)
                }
                const count = Object.keys(cart).length
                itemsCountElement.innerText = count
        }
        updateCartTotalPrice()
    }
    const updateCartTotalPrice = ()=>{
        const totalPriceElement = document.getElementById("totalPrice")
        let totalprice = 0
        // calculate total price of items
        for(id in cart){
                totalprice += (cart[id].price+cart[id].tax)*cart[id].qty
        }
        // apply discounts
        if(discounts){
                for(id in discounts){
                        const percentage = discounts[id].percentage
                        totalprice -= totalprice * (percentage/100) 
                }
        }
        totalPriceElement.innerText = `$${totalprice.toFixed(2)}`
    }
    const applyDiscount = async ()=>{
            let alreadyApplied = false
            const discountMessage = document.getElementById("discountMessage")
            const discountCodeElement = document.getElementById("discount")
            const discountCode = discountCodeElement.value
            discountCodeElement.value = ""
            // check if discount already applied
            if(discounts){
                    for(id in discounts){
                            if(discounts[id].name === discountCode){
                                    alreadyApplied = true
                            }
                    }
            }
            if(alreadyApplied){
                    discountMessage.innerText = "Discount code already applied"
                    discountMessage.hidden = false
                    return
            }
            const response = await fetch(`/api/discount/${discountCode}`)
            if(response.status === 200){
                    // apply discount code
                    const data = await response.json()
                    const {id, percentage} = data.data
                    if(discounts){
                            discounts[id] = data.data
                            localStorage.setItem("discounts", JSON.stringify(discounts))
                    }
                    else{
                            discounts = {}
                            discounts[id] = data.data
                            localStorage.setItem("discounts", JSON.stringify(discounts))
                    }
                    updateCartTotalPrice()
                    discountMessage.innerText = `Discount applied: -${percentage}% OFF`
                    discountMessage.hidden = false
            }
            else{
                    // no discount
                    discountMessage.innerText = `Discount code unavailable` 
                    discountMessage.hidden = false
            }
    }
    const checkout = ()=>{
            // checkout logic goes here


            // empty cart and discounts
            localStorage.removeItem("discounts")
    }
    // update cart and price on load
    updateCartUI()
</script>
{% endblock javascripts %}

